= form_with model: user, url: user_registration_path, local: true do |f|
  = f.hidden_field :email, value: 'test@example.com'
  = f.hidden_field :password, value: 'testtest'
  = f.submit '簡単ログイン', class: 'btn btn-primary'